.ShotHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: -0.01em;

  background: linear-gradient(268.03deg, #926dff 42.47%, #8497ff 57.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 124px;
  }
.Content{
  height: 544px;
  overflow: scroll;
  position: absolute;
  top:56px;
}

.Contents {
  padding: 16px;
  padding-top: 0px;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.NoContents {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.AroundButton {
  /* Rectangle 164 */

  box-sizing: border-box;
  width: 280px;
  height: 64px;

  background: #ffffff;
  border: 1.5px solid #755fff;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  text-align: center;
  letter-spacing: -0.01em;

  color: #755fff;
}
.NoContent {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.GoShotBtn {
  width: 56px;
  height: 20px;
  background: #e5e6ff;
  border-radius: 3px;
  font-size: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.CardTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CardHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.CardBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4px;
}

.CardBox{
  margin-right: 4px;
}