
.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header p {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(
    252.68deg,
    rgba(146, 114, 255) 27.32%,
    rgba(133, 150, 255) 93.21%
  );
  -webkit-background-clip: text;
  color: transparent;
}
  
.Content{
  height: 620px;
  
}

.Contents {
  padding: 16px;
}
.NoContents {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AroundButton {
  /* Rectangle 164 */

  box-sizing: border-box;
  width: 280px;
  height: 64px;

  background: #ffffff;
  border: 1.5px solid #755fff;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  text-align: center;
  letter-spacing: -0.01em;

  color: #755fff;
}
.NoContent {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.GoShotBtn {
  width: 56px;
  height: 20px;
  background: #e5e6ff;
  border-radius: 3px;
  font-size: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.CardTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0 16px;
}
.CardHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.CardBox{
  display: flex;
  border-radius: 10px;
  margin: 16px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cardbody{
  margin: 16px 8px;
}
.cardbody img{
  margin-right: 4px;
}