.header {
  background-color: (0, 0, 0, 0);
  width: 100vw;
  height: 54px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  z-index: 2;
}

.icons {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: white;
  margin: 16px;
}
.Content{
  height: 620px;
  overflow: scroll;
}

.backImg {
  width: 360px;
  height: 270px;
}

.paddingBox {
  width: 338;
  padding: 12px;
}
.paddingBox2{
  padding: 4px;
}

.imgText {
  display: flex;
  align-items: center;
  margin: auto 2px 0;
}

.imgText img {
  margin: 4px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
}

.imgText span {
  font-size: 16px;
}

.Tag {
  background-color: #ebebeb;
  font-size: 10px;
  color: #3f3f3f;
  border-radius: 3px;
  margin: 4px;
  padding: 3px;
}

.subtext {
  display: flex;
  margin: 4px 0 0;
}

.hrTag {
  width: 328px;
  height: 1px;
  background-color: #babdff;
  border: none;
  margin: 8px 16px;
}

.refundBox {
  background-color: #f2f3ff;
  border: none;
  border-radius: 5px;
  width: 296px;
  padding: 16px;
  margin: 8px 0;
}

.oneLine {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin: 4px 0;
}

.percentage {
  color: #71727a;
  font-size: 14px;
}

.policy {
  font-size: 14px;
}

.description p {
  font-size: 14px;
}

.detailBtnBox {
  /* width: 100vw;
  height: 64px;
  display: fixed;
  bottom: 0; */
  margin-bottom: 10px;
}

.shots {
  display: flex;
  margin: 4px;
}

.shot {
  margin: 5px;
  text-align: center;
}
.Text{
  width: 328px;
  overflow-wrap: break-word;
}


/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.ModalTitle {
  position: absolute;
  left: 32px;
  top: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #54595e;
}
.ModalText {
  /* position: absolute;
    left: 35px;
    top: 76px; */
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  margin-top: 2px;
  letter-spacing: 0.5px;
  width: 288px;
}
/* modal창 */
.ModalBody {
  position: absolute;
  width: 328px;
  height: 464px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalCloseBtn {
  position: absolute;
  right: 22px;
  top: 24px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton {
  width: 108px;
  height: 40px;
  position: absolute;
  right: 32px;
  top: 408px;
  /* margin: 16px; */
  background: linear-gradient(45deg, #8397ff, #926bff);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.ModalImg{
  width: 280px;
  height: 280px;
  margin-top: 8px;
}