.header{
    background-color: white;
    width: 100vw;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shots{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
}
.shots img{
    width: 156px;
    height: 156px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}