.BackProfile {
  width: 328px;
  height: 56px;
  margin: 16px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.EditSave {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-align: right;
  letter-spacing: -0.01em;

  color: #755fff;
}
.EditForm {
  width: 328px;
  margin: 16px 8px 8px 16px;
}
.NickName {
  border-bottom: #755fff 1px solid;
}
.EditDesc {
  border-bottom: #755fff 1px solid;
}
.inputBox {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 16px;
}

.inputTag {
  border-bottom: solid 1px #e5e6ff;
}

.checkMsg {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding-bottom: 16px;
}
.disSelectItem {
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background: #e5e6ff;
  color: black;
  font-size: 14.5px;
}

.selectItem {
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background: linear-gradient(45deg, #8397ff, #926bff);
  color: white;
  font-size: 14.5px;
}
.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  margin: 16px 8px 8px 16px;
}