.header{
    background-color: white;
    width: 100vw;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
}


.outsideBox {
  display: grid;
  margin-left: 25px;
  grid-template-columns: 160px 160px;
  grid-template-rows: 200px;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll;
}

.challengeBox {
  width: 160px;
  height: 200px;
  display: inline-block;
  /* margin-left: 16px; */
}

.infoItem {
  padding: 2px;
  border-radius: 5px;
  background: #e5e6ff;
  color: black;
  font-size: 11px;
  margin-top: 5px;
  margin-right: 5px;
}

.noBookmark{
  margin: 64px 16px;

}

.bookImgs{
  display: flex;
  justify-content: center;
  margin: 16px;
  align-items: baseline;
}

.fav{
  width: 120px;
  height: 120px;
}
.com{
  width: 36px;
  height: 60px;
}

.bookText{
  margin: 32px 0;
  text-align: center;
}
.bookText p{
  font-size: 20px;
  margin: 8px 0;
}
.bookText span{
  font-size: 14px;
}

