.MyPageHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: -0.01em;

  background: linear-gradient(268.03deg, #926dff 42.47%, #8497ff 57.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserProfile {
  width: 328px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UserProfile img {
  margin-right: 16px;
}
.UserProfile > p {
  margin-right: 16px;
}
.StatusBox{
  margin: 32px 0;
}
.ChallengeStatus {
  width: 328px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.ChallengeStatusBar {
  width: 328px;
  height: 60px;
  margin: 8px 16px;
  background: linear-gradient(252.68deg, #9272ff 27.32%, #8596ff 93.21%);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.ChallengeStatusBar span{
  font-size: 12px;
  color: white;
  font-weight: 10;
}
.ChallengeStatusBar p{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* .MyShotZip {
  display: flex;
  width: 328px;
  margin: 16px 8px 8px 16px;
}
.CreateChallenge {
  display: flex;
  width: 328px;
  margin: 16px 8px 8px 16px;
}
.FavoriteChallenge {
  display: flex;
  width: 328px;
  margin: 16px 8px 8px 16px;
} */

.menuItem {
  display: flex;
  width: 328px;
  margin: 20px 16px 28px 16px;
  justify-content: space-between;
  align-items: center;
}
.menuTitle{
  display: flex;
  align-items: center;
  font-size: 16px;
}
.menuTitle img{
  width: 20px;
  height: 20px;
  margin: 0 8px;
}