.BackMyPage {
  width: 328px;
  height: 56px;
  margin: 16px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  margin: 16px 8px 8px 16px;
}
.UserName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin-top: 15px;
  /* identical to box height, or 16px */
  text-align: center;
  letter-spacing: -0.01em;

  background: linear-gradient(180deg, #9270ff 0%, #8696ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.Intro {
  display: flex;
  font-size: 12px;
}
.Box {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.selectItem {
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background: linear-gradient(45deg, #8397ff, #926bff);
  color: white;
}
