.header{
    background-color: white;
    width: 100vw;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
}


.MyShotZip {
  height: 680px;
}

.BackMyPage {
  width: 328px;
  height: 56px;
  margin: 16px 8px 8px 16px;
  display: flex;
}

.PhotoList {
  height: 600px;
  overflow-y: scroll;
}
