.Input{
width: 312px;
height: 40px;
background: rgba(229, 230, 255, 0.5);
border-radius: 10px;
margin-top: 16px;
margin-bottom: 8px;
padding-left: 16px;
}
.SmallText{
font-weight: 400;
font-size: 10px;
color: #01F6BD;
}

.Select{
width: 328px;
height: 40px;
background: rgba(229, 230, 255, 0.5);
border-radius: 10px;
border: 0;
padding: 8px;
}
.header{
  background-color: white;
  width: 100vw;
  height: 54px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
}

.SelectChallenge{
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #755FFF;

  width: 328px;
  height: 156px;
  background: rgba(229, 230, 255, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.FormHeader{
  /* 어떤 형태의 챌린지인가요? */
font-weight: 600;
font-size: 16px;
letter-spacing: -0.01em;

color: #000000;
}
.Topics{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SelectTopic{
width: 156px;
height: 156px;
background: rgba(229, 230, 255, 0.5);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.FormEx{
font-weight: 400;
font-size: 10px;
letter-spacing: -0.01em;
margin-top: 8px;
color: #6A6A6A;
}

.InputIntro{
width: 312px;
height: 144px;
background: rgba(229, 230, 255, 0.5);
border-radius: 10px;
margin-top: 8px;
padding: 8px;
}
.FileUpload{
width: 120px;
height: 120px;

background: #D9D9D9;
border-radius: 5px;

}
.Slider{
  display: flex;
  justify-content: center;
}
.inputN{
  border-bottom:black 1px solid;
  margin-right:8px;
  text-align:center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #755FFF;
}
.SelectWeekX{
width: 100px;
height: 32px;
background: rgba(186, 189, 255, 0.25);
border-radius: 10px;

font-weight: 400;
font-size: 16px;
letter-spacing: -0.01em;
color: #000000;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-top: 8px;
}
.SelectWeeks{
width: 100px;
height: 32px;
background: #BABDFF;
border-radius: 10px;
font-weight: 400;
font-size: 16px;
letter-spacing: -0.01em;
color: #000000;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-top: 8px;
}
.Weeks{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.DatePicker{
  border-bottom: solid 1px black;
  width: 108px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}
.SelectDate{
  width: 152px;
  display: flex;
  justify-content: flex-start;
}
.Periods{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.Limit{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 8px;
}
.SelectLimitX{
width: 160px;
height: 32px;
background: rgba(186, 189, 255, 0.25);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.SelectLimit{
width: 160px;
height: 32px;
background: #BABDFF;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.False{
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: 0.5;
}
.True{
  margin-top: 8px;
  margin-bottom: 8px;
}
.LimitTF{
width: 328px;
height: 40px;

background: rgba(186, 189, 255, 0.25);
border-radius: 10px;

display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
font-size: 18px;
}
.People{
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.CreateReview{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 12px;
}

.Card1{
  width: 104px;
  height: 96px;
  background: rgba(229, 230, 255, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 4px;
  margin-bottom: 8px;
}
.Card2{
  width: 160px;
  height: 96px;
  background: rgba(229, 230, 255, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 4px;
  margin-bottom: 8px;
  font-size: 14px;
}
.Card1text{
  font-size: 12px;
}
.CardText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.buttonBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton{
  width: 328px;
  height: 48px;
  /* margin: 16px; */
  background: linear-gradient(45deg, #8397ff, #926bff);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 72px;
}

.NextButtonX{
  width: 328px;
  height: 48px;
  /* margin: 16px; */
  background: linear-gradient(252.68deg, rgba(146, 114, 255, 0.5) 27.32%, rgba(133, 150, 255, 0.5) 93.21%);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 72px;
  }

.ShotEX{
  display: flex;
  justify-content: space-evenly;
}