.card{
    width: 124px;
    height: 116px;
    border: none;
    border-radius: 10px;
    background-color: #F2F3FF;
    margin: 8px;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.imgTag{
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hrTag{
    background-color: white;
    width: 112px;
    height: 2px;
    border: none;

}

.textTag{
    text-align: center;
    font-size: 16px;
    margin: 8px;
}