.contentsBox{
    border-radius:20px;
    background-color:white;
    margin:16px;
    width:296px;
    height:280px;
    padding: 32px 16px;
    text-align: center;
}
.number{
    font-size: 26px;
    color: gray;
    font-weight: 900;
    margin-bottom: 16px;

}
.title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
}
.text{
    margin-bottom: 8px;
}
