.totalBox{
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: linear-gradient(189.45deg, #9272FF 3.13%, #8596FF 92.73%);
}
.logo{
    width: 320px;
    height: auto;
    margin: 40px 20px 16px;
    align-items: center;
}

.btn{
    margin: 16px;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 96px;
    text-align: center;
}
.btn img{
    width: 32px;
    margin: auto;
}
.btn p{
    color: #8497FF;
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
}

