.header{
    background-color: white;
    width: 100vw;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    z-index: 2;
}

.titleBox{
    padding: 16px;
    display: flex;
    align-items: center;
}
.titleBox img{
    width: 24px;
    height: 24px;
}
.titleBox span{
    font-size: 20px;
}

.tabItem{
    width: 180px;
    height: 32px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, #8397ff, #926bff);
    opacity: 0.4;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    display: block;
    float: left;
    transition: all 0.2s ease;
    z-index: auto;
}

input[name="tab_item"] {
    display: none;
}

.content{
    display: none;
    clear: both;
}

#gather:checked ~ #gather_content, 
#separately:checked ~ #separately_content {
    display: block;
}

.tabs input:checked + .tabItem {
    opacity: 1;
    background-color: linear-gradient(45deg, #8397ff, #926bff);
}

.gather{
    display: grid;
    width: 360px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gather img{
    width: 120px;
    height: 120px;
    border: solid 0.5px #755FFF;
}

.modal{
    width: 296px;
    padding: 16px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.modal img{
    width: 296px;
    height: 296px;
}

.userBox{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: auto 16px;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100px;
}
.user span{
    font-size: 14px;
    margin: 0 8px;
}
.report img{
    width: 20px;
    height: 20px;
}

.shotBox img{
    width: 100vw;
    height: auto;
}

.scroll{
    height: 530px;
    overflow: scroll;
}

/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.ModalTitle{
  position: absolute;
  left: 35px;
  top: 39px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #54595E;
}
.ModalText{
  /* position: absolute;
  left: 35px;
  top: 76px; */
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
  margin-top: 2px;
  letter-spacing: 0.5px;
}
/* modal창 */
.ModalBody {
  position: absolute;
  width: 328px;
  height: 390px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
   
.modalCloseBtn {
position: absolute;
right: 22px;
top: 18px;
  }

.buttonBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton{
  width: 248px;
  height: 40px;
  position: absolute;
  left: 48px;
  top: 313px;
  /* margin: 16px; */
  background: linear-gradient(45deg, #8397ff, #926bff);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}