.title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.photoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    height: 100px;
    width: 100px;
}
.circle{
    height: 100px;
    width: 100px;
}

.inputBox{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 16px;
}

.inputTag{
    border-bottom: solid 1px #E5E6FF;
}