.header{
    background-color: white;
    width: 100vw;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.backdrop{
    width: 100vw;
    height: 270px;
}

.desBox{
    padding: 16px 16px 0px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.subBox{
    margin: 4px 0;
}

.oneline{
    display: flex;
    margin: 4px 0;
    align-items: center;
}

.oneline img{
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.oneline span{
    font-size: 14px;
}

.hrTag{
    width: 328px;
    height: 0.5px;
    background-color: #BABDFF;
    border: none;
    margin: 16px 0;
}

.MyAchRate{
    margin: 0 16px;
}

.rateText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.rewardBox{
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reward{
    padding: 4px 8px;
    background-color: #CCFDF2;
    border: none;
    border-radius: 3px;
    font-size: 10px;
}

.informBox{
    margin: 16px;
}

.informOne{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}
.informOne img{
    width: 20px;
    height: 20px;
    margin: 4px;
}
.informOne span{
    font-size: 14px;
}
