.SearchHeader{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: -0.01em;
  
  background: linear-gradient(268.03deg, #926DFF 42.47%, #8497FF 57.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.Header{
  position: fixed;
  top:0;
  /* height: 240px; */
}
.InputSearch{
  width: 328px;
  height: 40px;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  /* padding: 8px; */
  border-radius: 100px;
  margin-bottom: 16px;
}
.Input{
  font-weight: 600;
  font-size: 16px;
  /* color: #999999; */
  background-color: #FBFBFB;
  height: 32px;
  width: 248px;
  padding-left: 8px;
}
.Input:focus{
  outline: none;
}
.SearchIcon{
  margin-left: 16px;
  margin-right: 8px;
}
.SearchContents{
  height: 544px;
  overflow: scroll;
}