.SearchHeader{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: -0.01em;
  
  background: linear-gradient(268.03deg, #926DFF 42.47%, #8497FF 57.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.Header{
  position: fixed;
  top:0;
  /* height: 240px; */
}
.InputSearch{
  width: 328px;
  height: 40px;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  /* padding: 8px; */
  border-radius: 100px;
  margin-bottom: 16px;
}
.Input{
  font-weight: 600;
  font-size: 16px;
  /* color: #999999; */
  background-color: #FBFBFB;
  height: 32px;
  width: 248px;
  padding-left: 8px;
}
.Input:focus{
  outline: none;
}
.SearchIcon{
  margin-left: 16px;
  margin-right: 8px;
}
.SearchContents{
  position: absolute;
  left: 16px;
  top:108px;
  width: 328px;
  height: 544px;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SearchAfterBox{
  width: 160px;
  height: 192px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.SearchAfterImg{
  width: 160px;
  height: 120px;
  border-radius: 5px;
}
.SearchAfterTag{
  padding: 3px;
  font-size: 6px;
  border-radius: 3px;
  background: rgba(1, 246, 189, 0.2);
}
.SearchAfterTitle{
  font-size: 16px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SearchBefore{
  position: absolute;
  left: 16px;
  top:100px;
  display: flex;
  align-items: center;
  width: 328px;
  height: 180px;
  margin: 4px auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.SearchBeforeBox{
  width: 96px;
  height: 164px;
}
.SearchBeforeImg{
  width: 96px;
  height: 76px;
  border-radius: 5px;
}
.SearchBeforeTitle{
  font-size: 16px;
  width: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SearchBeforeTag{
  padding: 2px;
font-size: 6px;
background: #EBEBEB;
border-radius: 3px;
}