h2{
position: absolute;
width: 360px;
height: 24px;
left: 0px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: -0.01em;

background: linear-gradient(268.03deg, #926DFF 42.47%, #8497FF 57.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}