.SearchHeader{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: -0.01em;

background: linear-gradient(268.03deg, #926DFF 42.47%, #8497FF 57.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
height: 56px;
display: flex;
justify-content: center;
align-items: center;
}
.InputSearch{
  width: 328px;
  height: 40px;
  background-color: #FBFBFB;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 100px;
}
.SearchIcon{
  width: 24px;
  height: auto;
}
.AroundButton{
  /* Rectangle 164 */

box-sizing: border-box;
width: 280px;
height: 64px;
background: #FFFFFF;
border: 1.5px solid #755FFF;
border-radius: 10px;
/* 챌린지 둘러보기 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
text-align: center;
letter-spacing: -0.01em;
color: #755FFF;
}
.NoChallenging{
 display: flex;
 flex-direction: column;
 width: 328px;
 margin: 16px;
 align-items: center;
}