/* preinterlock */

.logo {
  height: 64px;
  width: 280px;
  margin: 64px 40px 0 40px;
}

.walletImg {
  width: 360px;
  height: 360px;
}

.walletText {
  margin: auto 16px;
}
.walletText p {
  font-size: 16px;
}

.interlockBtn {
  margin: 16px;
  width: 328px;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: none;
  border-radius: 10px;
  background-color: #081828;
  align-items: center;
}

.interlockBtn img {
  width: 28px;
  height: 28px;
  margin: auto;
}
.interlockBtn span {
  font-size: 20px;
  color: white;
}

/* after interlock  */
.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header p {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(
    252.68deg,
    rgba(146, 114, 255) 27.32%,
    rgba(133, 150, 255) 93.21%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.balanceBox {
  width: 280px;
  padding: 24px;
  height: 72px;
  margin: 16px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    252.68deg,
    rgba(146, 114, 255) 27.32%,
    rgba(133, 150, 255) 93.21%
  );
  color: white;
}

.historyBox {
  margin: 16px;
}
.historyBox > p {
  font-size: 18px;
  margin-bottom: 16px;
}

.historyContent {
  margin-bottom: 8px;
}
.historyContent > p {
  font-size: 14px;
  color: #6a6a6a;
  margin: 8px 0;
}

.content {
  width: 296px;
  padding: 16px;
  height: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  border: none;
  border-radius: 10px;
  align-items: center;
  background-color: #e5e6ff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.ethcontent {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.titleContent {
  font-size: 16px;
  display: flex;
  /* justify-content: center; */
  color: #303030;
  margin-left: 4px;
}
.scroll {
  height: 320px;
  overflow-y: scroll;
  margin-bottom: 16px;
}

.ethscan {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.ethscan img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.passCoinBox {
  margin: 16px;
}

.passCoinDes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;
  font-size: 18px;
}

.passCoinBottom {
  margin: 12px 4px 16px;
  display: flex;
  align-items: center;
}
.passCoinBottom img {
  width: 32px;
  height: 32px;
  margin: 0 4px;
}
.passCoinBottom svg {
  margin: 0 4px;
}
.passCoinBottom span {
  font-size: 28px;
  font-weight: bold;
  color: #755fff;
  margin: 0 8px;
}

/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.ModalTitle {
  position: absolute;
  left: 32px;
  top: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #54595e;
}
.ModalText {
  /* position: absolute;
    left: 35px;
    top: 76px; */
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  margin-top: 2px;
  letter-spacing: 0.5px;
  width: 288px;
}
/* modal창 */
.ModalBody {
  position: absolute;
  width: 328px;
  height: 286px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalCloseBtn {
  position: absolute;
  right: 22px;
  top: 24px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton {
  width: 108px;
  height: 40px;
  position: absolute;
  right: 32px;
  top: 232px;
  /* margin: 16px; */
  background: linear-gradient(45deg, #8397ff, #926bff);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
